mixin photo-gallery
    section
        h1 PHOTO GALLERY
        .owl-carousel.photo-gallery-carousel
            - for (let i = 1; i <= 11; i++)
                .item
                    img(
                        data-src=`assets/img/photo-gallery/photo-gallery-320/about${i}.webp`
                        srcset=`
                                                assets/img/photo-gallery/photo-gallery-320/about${i}.webp 767w,
                                                assets/img/photo-gallery/photo-gallery-767/about${i}.webp,
                                            `
                        alt="photo gallery image"
                    )