extends ../../page-templates/base.pug
include ../../components/bar-menu/bar-menu
include ../../components/reservation/reservation
include ../../components/photo-gallery/photo-gallery
include ../../components/karaoke-gallery/karaoke-gallery

block content
    .content-container
        .content-container__item
            +bar-menu
        .content-container__item
            +photo-gallery
        .content-container__item.small
            +karaoke-gallery
            +reservation

