mixin bar-menu
    section.bar-menu-container
        h1.bar-menu-header BAR MENU
        .owl-carousel.bar-menu-carousel
            .item.bar-menu-carousel__item
                img(data-src="assets/img/bar-menu/page1.webp" alt="Bar menu image")
            .item.bar-menu-carousel__item
                img(data-src="assets/img/bar-menu/page2.webp" alt="Bar menu image")
            .item.bar-menu-carousel__item
                img(data-src="assets/img/bar-menu/page3.webp" alt="Bar menu image")
            .item.bar-menu-carousel__item
                img(data-src="assets/img/bar-menu/page4.webp" alt="Bar menu image")
            .item.bar-menu-carousel__item
                img(data-src="assets/img/bar-menu/page5.webp" alt="Bar menu image")
            .item.bar-menu-carousel__item
                img(data-src="assets/img/bar-menu/page6.webp" alt="Bar menu image")
            .item.bar-menu-carousel__item
                img(data-src="assets/img/bar-menu/page7.webp" alt="Bar menu image")
            .item.bar-menu-carousel__item
                img(data-src="assets/img/bar-menu/page8.webp" alt="Bar menu image")
            .item.bar-menu-carousel__item
                img(data-src="assets/img/bar-menu/page9.webp" alt="Bar menu image")
