mixin bar-menu
    section.bar-menu-container
        h1.bar-menu-header BAR MENU
        .owl-carousel.bar-menu-carousel
            - for (let i = 1; i <= 10; i++)
                .item.bar-menu-carousel__item
                    img(
                        data-src=`assets/img/bar-menu/bar-menu-320/page${i}.webp`
                        srcset=`
                            assets/img/bar-menu/bar-menu-320/page${i}.webp 767w,
                            assets/img/bar-menu/bar-menu-760/page${i}.webp,
                        `
                        alt="Bar menu image"
                    )